/*
Colorblind safe color palette from colorbrewer2.org.
#ca0020 - red
#f4a582- peach
#f7f7f7 - white
#92c5de - light blue
#0571b0 - blue
*/

body {
  background-color: #f4a582;
  color: #ca0020;
  text-align: center;
}

h1 {
  color: #ca0020;
}
